  
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.textprimary {
     color: #FD6E0A;
}
.derk2{
    color: #474747;
}

.btn1{
     background: #FD6E0A;
     font-weight: bold;
     color: white;
     padding: 18px 35px;
     border-radius: 5px;
     border: none;

}

.sectie{
    font-size: 35px;
    font-weight: bold;
    color: #000000;

}

.secdes{
    font-size: 18px;
    color: #757575;

}

.secbg{
    background: #FFF8F3;

}
 .texcen {
    text-align: center;
}
/* headerstyle */
.hd{

    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}

/* nav styles */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
}

.navtitle{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
    margin-right:50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner sytle */
.bangre {
font-size: 45px;
font-weight: 600px;
}
.bantie{
     font-weight: bold;
     font-size: 85px;
}
.banpic{
   width: 580px;

}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.bancon{
    max-width: 580px;
}

/* main style */
main{

    max-width: 1140px;
    margin: auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about style */
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
   

}

.itdesk {
     font-weight:600;
     
}
.aboutits {
    display: flex;
    justify-content: space-around;
   padding: 30px;
}

.skillcontainer {
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skilldesk{
    padding: 20px;
    color: #757575;
}
.skill-description{
    color:#757575  ;
}
.resumecontainer{
    display: flex;
    gap: 24px;
}
.resume-colum-title{
    color: #474747;
}

.exprience-desccription{
    color: #757575;
}
.exprience-sub-title{
    font-size: 15px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}

.downloadcv{
     text-align: center;
     margin-top: 50px;
}
.resumeh3{
     font-weight: bold;
     text-align: center;
     margin-bottom: 50px;
}

.footer-colum {
    width: 50%;
}
    

footer{

 padding: 130px 230px;
 background-color: #FFF8F3 ;
 display: flex;
 gap: 100px;
}