  
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.textprimary {
     color: #FD6E0A;
}
.derk2{
    color: #474747;
}

.btn1{
     background: #FD6E0A;
     font-weight: bold;
     color: white;
     padding: 18px 35px;
     border-radius: 5px;
     border: none;

}

.sectie{
    font-size: 35px;
    font-weight: bold;
    color: #000000;

}

.secdes{
    font-size: 18px;
    color: #757575;

}

.secbg{
    background: #FFF8F3;

}
/* headerstyle */
.hd{

    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right ;
}

/* nav styles */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
}

.navtitle{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
    margin-right:50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner sytle */
.bangre {
font-size: 45px;
font-weight: 600px;
}
.bantie{
     font-weight: bold;
     font-size: 85px;
}
.banpic{
   width: 580px;

}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.bancon{
    max-width: 580px;
}

/* main style */
main{

    max-width: 1140px;
    margin: auto;
}

/* about style */
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;

}

.itdesk {
     font-weight:600;
     
}
.aboutits {
    display: flex;
    justify-content: space-around;
   padding: 30px;
}